:root{
  --rose:#b76e79;
  --deep:#8b3a44;
  --ivory:#fdf6f0;
}

body{
  margin:0;
  font-family:'Poppins';
  background: radial-gradient(circle at top, rgba(183,110,121,0.2), transparent), var(--ivory);
  overflow:hidden;
}

/* ENVELOPE */
.envelope-screen{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.envelope{
  width:320px;
  height:220px;
  background:white;
  position:relative;
  border-radius:10px;
  box-shadow:0 20px 60px rgba(0,0,0,0.2);
}

.flap{
  position:absolute;
  width:100%;
  height:100%;
  background:#f7d9d9;
  clip-path:polygon(0 0,100% 0,50% 50%);
  transform-origin:top;
  transition:1s;
}

.envelope.open .flap{
  transform:rotateX(180deg);
}

.seal{
  width:60px;
  height:60px;
  background:radial-gradient(circle,var(--rose),var(--deep));
  border-radius:50%;
  position:absolute;
  top:45%;
  left:50%;
  transform:translate(-50%,-50%);
  cursor:pointer;
}

.letter{
  position:absolute;
  width:90%;
  left:5%;
  top:100%;
  background:white;
  padding:20px;
  text-align:center;
  border-radius:10px;
  opacity:0;
  transition:1s;
}

.envelope.open .letter{
  top:-180px;
  opacity:1;
}

/* SCENES */
.scene{
  position:absolute;
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  opacity:0;
  transform:translateY(80px) scale(1.05);
  filter:blur(10px);

  transition:1s cubic-bezier(0.22,1,0.36,1);
}

.scene.active{
  opacity:1;
  transform:translateY(0) scale(1);
  filter:blur(0);
}

/* CARD */
.card{
  background:rgba(255,255,255,0.65);
  backdrop-filter:blur(25px);
  padding:40px;
  border-radius:25px;
  width:85%;
  max-width:320px;
  text-align:center;
  box-shadow:0 25px 80px rgba(139,58,68,0.25);
}

/* TITLES */
.main-title{
  font-family:'Great Vibes';
  font-size:52px;
  color:var(--rose);
}

h2{
  font-family:'Cormorant Garamond';
  font-size:26px;
}

h2::after{
  content:"";
  display:block;
  width:60px;
  height:1px;
  margin:10px auto;
  background:linear-gradient(to right,transparent,var(--rose),transparent);
}

/* HEART */
.heart{
  font-size:50px;
  cursor:pointer;
}

.hidden-text{
  opacity:0;
  transition:0.5s;
}

.hidden-text.show{
  opacity:1;
}

/* BUTTON */
a{
  display:block;
  margin:10px;
  padding:12px;
  background:linear-gradient(45deg,var(--rose),#e6a4ad);
  color:white;
  border-radius:30px;
  text-decoration:none;
}
